openapi: 3.0.3
info:
  title: Truist Personal and Small Business Transactions API
  description: >-
    Enables retrieval of transaction history for personal and small business accounts,
    including posted and pending transactions with merchant information, amounts, and
    transaction categories.
  version: 1.0.0
  contact:
    url: https://developer.truist.com/
  termsOfService: https://www.truist.com/about-truist/terms-conditions
servers:
  - url: https://api.truist.com/v1
    description: Production
tags:
  - name: Transactions
    description: Personal and small business transaction operations
paths:
  /personal/accounts/{accountId}/transactions:
    get:
      operationId: listPersonalTransactions
      summary: List Personal Account Transactions
      description: Retrieve posted and pending transactions for a personal or small business account with optional date range filtering.
      tags:
        - Transactions
      security:
        - OAuth2: [transactions:read]
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: Unique account identifier
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start date for transaction retrieval (YYYY-MM-DD)
        - name: toDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End date for transaction retrieval (YYYY-MM-DD)
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [POSTED, PENDING, ALL]
          description: Filter by transaction status
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 250
          description: Maximum number of transactions to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Account not found
  /personal/accounts/{accountId}/transactions/{transactionId}:
    get:
      operationId: getPersonalTransaction
      summary: Get Personal Transaction
      description: Retrieve details for a specific transaction on a personal or small business account.
      tags:
        - Transactions
      security:
        - OAuth2: [transactions:read]
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: Unique account identifier
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
          description: Unique transaction identifier
      responses:
        '200':
          description: Transaction retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.truist.com/oauth2/authorize
          tokenUrl: https://api.truist.com/oauth2/token
          scopes:
            transactions:read: Read access to transaction data
  schemas:
    TransactionListResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        totalCount:
          type: integer
          description: Total number of matching transactions
        pageSize:
          type: integer
          description: Number of transactions in this response
        offset:
          type: integer
          description: Current pagination offset
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
          description: Unique transaction identifier
        accountId:
          type: string
          description: Associated account identifier
        transactionDate:
          type: string
          format: date
          description: Date the transaction was processed
        postedDate:
          type: string
          format: date
          description: Date the transaction was posted
        amount:
          type: number
          format: double
          description: Transaction amount (negative for debits)
        currency:
          type: string
          default: USD
          description: Transaction currency
        status:
          type: string
          enum: [POSTED, PENDING]
          description: Transaction status
        transactionType:
          type: string
          enum: [DEBIT, CREDIT, FEE, INTEREST, TRANSFER]
          description: Type of transaction
        description:
          type: string
          description: Transaction description
        merchantName:
          type: string
          description: Merchant name if applicable
        merchantCategory:
          type: string
          description: Merchant category code description
        category:
          type: string
          description: Transaction category for personal finance
        checkNumber:
          type: string
          description: Check number if applicable
        runningBalance:
          type: number
          format: double
          description: Account balance after transaction
